@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Cairo:wght@300;400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-arabic: "Cairo", sans-serif;
}

@layer base {
  body {
    @apply bg-[#fdfdfd] text-zinc-900 antialiased;
  }
}

.font-arabic {
  font-family: var(--font-arabic);
}

.glass {
  @apply bg-white/80 backdrop-blur-md border border-white/20;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ad-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 12px;
}
